.type-post,
.type-page,
.type-attachment,
.comments-area,
.comment-respond,
.site-main > article:not(.type-post):not(.type-page):not(.type-attachment),
.post-wrapper > article:not(.type-post):not(.type-page):not(.type-attachment) {
	margin: 0 0 2rem;
	padding: 0;
	max-width: 100%;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.2);
	border-top: none;
	box-shadow: inset 0 2px #1177aa;
}

.entry-header {
	padding: 1em 1.5em 0;
}

.page-title,
.entry-title {
	margin: 0.15em 0 0.2em;
	padding: 0;
	color: #1177aa;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: normal;
	font-size: 40px;
	font-size: 2.5rem;
	font-family: 'Magra', Tahoma, Arial;
	line-height: 1.4;
}

.entry-title a:link,
.entry-title a:visited {
	color: #1177aa;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active{
	color: #454545;
}

.post-content {
	padding: 0.5em 1.5em 1.5em;
}

.wp-post-image {
	margin: 1.5em 0 0.5em;
	vertical-align: top;
}

.entry-content p:first-child {
	margin-top: 0.5em;
}

.entry-content p:last-child {
	margin-bottom: 0;
}

.entry-content a {
	text-decoration: underline;
}

.sticky {
	padding-top: 6px;
	box-shadow: inset 0 8px #1177aa;
}

/* Read more Link */
.more-link {
	display: inline-block;
	margin: 0;
	padding: 0.5em 1em;
	background: #1177aa;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
}

.more-link:link,
.more-link:visited  {
	color: #fff;
}

.more-link:hover,
.more-link:active {
	background: #454545;
	text-decoration: none;
}

.more-link:after {
	content: " \00BB";
}

.entry-content > .more-link {
	text-decoration: none;
}

/* Page Links | wp_link_pages() */
.page-links {
	margin: 0;
	word-spacing: 1em;
	font-weight: bold;
}

/* Entry Meta */
.entry-meta {
	margin: 0.25em 0 0;
	padding: 0;
	color: #999;
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: 'Magra', Tahoma, Arial;
	text-transform: uppercase;
}

.entry-meta .meta-date,
.entry-meta .meta-author {
	margin-right: 1.5em;
}

.entry-meta a:link,
.entry-meta a:visited {
	color: #999;
}

.entry-meta a:hover,
.entry-meta a:active {
	color: #555;
}

.entry-meta span:before {
	display: inline-block;
	margin-right: 0.2em;
	color: #999;
	vertical-align: middle;
	font: normal 20px 'Genericons';
	-webkit-font-smoothing: antialiased;
}

.entry-meta .meta-date:before{
	content: '\f305';
}

.entry-meta .meta-author:before{
	content: '\f411';
}

.entry-meta .meta-comments:before{
	content: '\f300';
}

/* Entry Categories */
.entry-categories {
	margin: 2em 0 0;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
}

.entry-categories .meta-categories a {
	display: inline-block;
	float: left;
	margin: 0 2px 2px 0;
	padding: 0.4em 0.8em;
	background: #1177aa;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-size: 0.875rem;
}

.entry-categories .meta-categories a:link,
.entry-categories .meta-categories a:visited {
	color: #fff;
}

.entry-categories .meta-categories a:hover,
.entry-categories .meta-categories a:active {
	background: #454545;
}

/* Hide post meta if they are deactivated in settings */
body.date-hidden .type-post .entry-meta .meta-date,
body.author-hidden .type-post .entry-meta .meta-author,
body.comments-hidden .type-post .entry-meta .meta-comments,
body.date-hidden .post-slider .entry-meta .meta-date,
body.author-hidden .post-slider .entry-meta .meta-author {
	 position: absolute;
	 clip: rect(1px, 1px, 1px, 1px);
}

body.date-hidden.author-hidden.comments-hidden .content-area .type-post .entry-meta,
body.date-hidden.author-hidden .post-slider .entry-meta {
	display: none;
}

/* Entry Tags & Tagcloud Widget */
.entry-tags {
	margin: 1em 0 0;
}

.widget_tag_cloud .tagcloud,
.entry-tags .meta-tags {
	font-size: 14px;
	font-size: 0.875rem;
}

.widget_tag_cloud .tagcloud:before,
.widget_tag_cloud .tagcloud:after,
.entry-tags .meta-tags:before,
.entry-tags .meta-tags:after {
	display: table;
	content: "";
}

.widget_tag_cloud .tagcloud:after,
.entry-tags .meta-tags:after {
	clear: both;
}

.widget_tag_cloud .tagcloud a,
.entry-tags .meta-tags a {
	display: inline-block;
	float: left;
	margin: 0 2px 2px 0;
	padding: 0.2em 0.5em;
	background: #454545;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px !important;
	font-size: 0.8125rem !important;
	font-weight: normal;
}

.widget_tag_cloud .tagcloud a:link,
.widget_tag_cloud .tagcloud a:visited,
.entry-tags .meta-tags a:link,
.entry-tags .meta-tags a:visited {
	color: #fff !important;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_tag_cloud .tagcloud a:active,
.entry-tags .meta-tags a:hover,
.entry-tags .meta-tags a:active {
	background: #1177aa;
}

/* Post Navigation */
.post-navigation {
	margin: 0;
	padding: 1.5rem;
	border-top: 1px solid rgba(0,0,0,0.1);
	font-size: 15px;
	font-size: 0.9375rem;
}

.post-navigation .nav-links .nav-previous {
	float: left;
	box-sizing: border-box;
	padding-right: 0.5em;
	max-width: 50%;
}

.post-navigation .nav-links .nav-next {
	float: right;
	box-sizing: border-box;
	padding-left: 0.5em;
	max-width: 50%;
}

.post-navigation .nav-links .nav-link-text {
	display: block;
	color: #454545;
}

.post-navigation .nav-links .nav-previous .nav-link-text:before {
	margin-right: 3px;
	content: "\00AB";
}

.post-navigation .nav-links .nav-next .nav-link-text:after {
	margin-left: 4px;
	content: "\00BB";
}

.post-navigation .nav-links .entry-title {
	font-size: 17px;
	font-size: 1.0625rem;
}

.post-navigation .nav-links a:hover .entry-title {
	color: #454545;
}

/* Theme Pagination */
.pagination {
	margin: 0 0 2em;
}

.pagination a,
.pagination .current {
	display: inline-block;
	margin: 3px 3px 3px 0;
	padding: 0.2em 0.8em;
	color: #fff;
	background: #454545;
	text-align: center;
	text-decoration: none;
}

.pagination a:link,
.pagination a:visited {
	color: #fff;
}

.pagination a:hover,
.pagination a:active,
.pagination .current {
	background: #1177aa;
}

/* Infinite Scroll Pagination */
.infinite-scroll .pagination {
	display: none;
}

.infinite-scroll #infinite-handle,
.infinite-scroll .infinite-loader {
	width: 100%;
	text-align: center;
	margin-right: 2em;
}

.infinite-scroll .infinite-loader .spinner {
	bottom: -0.5em;
	left: auto;
	padding-right: 2em;
	margin: 0 auto;
}

.infinite-scroll #infinite-handle span {
	display: inline-block;
	margin: 0 0 2em;
	padding: 0.4em 1em;
	background: #1177aa;
	text-decoration: none;
	font-size: 16px;
	font-size: 1rem;
	font-weight: bold;
}

.infinite-scroll #infinite-handle span:hover {
	background: #454545;
}

/* Archives and Search Heading */
.page-header {
	margin: 0 0 2em 0;
	padding: 0;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.2);
	border-top: none;
}

.page-header .archive-title {
	display: block;
	margin: 0;
	padding: 0.75em 1em;
	color: #454545;
	box-shadow: inset 0 2px #1177aa;
	text-transform: uppercase;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: normal;
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: 'Magra', Tahoma, Arial;
}

.blog-description,
.archive-description {
	border-top: 1px solid rgba(0,0,0,0.1);
	padding: 0.75em 1em;
}

.blog-description:empty {
	display: none;
}

.archive-description p:first-child {
	margin-top: 0;
}

.archive-description p:last-child {
	margin-bottom: 0;
}

.search-form-wrap {
	border-top: 1px solid rgba(0,0,0,0.1);
	padding: 1.5em;
}

/* Breadcrumbs */
.breadcrumbs {
	margin: 0;
	padding: 0.5em 0;
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.breadcrumbs-container {
	color: #454545;
	font-size: 14px;
	font-size: 0.875rem;
}

.breadcrumbs .trail-browse,
.breadcrumbs .trail-items,
.breadcrumbs .trail-items li {
	display: inline;
	margin: 0;
	padding: 0;
}

.breadcrumbs .trail-browse {
	margin-right: 0.5em;
	font-weight: normal;
	font-size: 14px;
	font-size: 0.875rem;
}

.breadcrumbs .trail-items {
	list-style: none;
}

.breadcrumbs .trail-items li::after {
	padding: 0 0.5em;
	content: "\00bb"; /* Raquo */
}

.trail-separator-slash .trail-items li::after { content: "\002F"; }
.trail-separator-dash .trail-items li::after { content: "\2013"; }
.trail-separator-bull .trail-items li::after { content: "\2022"; }
.trail-separator-arrow-bracket .trail-items li::after { content: "\003e"; }
.trail-separator-raquo .trail-items li::after { content: "\00bb"; }
.trail-separator-single-arrow .trail-items li::after { content: "\2192"; }
.trail-separator-double-arrow .trail-items li::after { content: "\21D2"; }

.breadcrumbs .trail-items li:last-of-type::after {
	display: none;
}

/* Error 404: Not Found Template */
.error404 .not-found .widget {
	padding: 0;
	border: none;
	box-shadow: none;
}
