body {
	direction: rtl;
	unicode-bidi: embed;
}

blockquote {
	border-left: none;
	border-right: 4px solid;
}

ul,
ol {
	padding: 0 1.25em 0 0;
}

li > ul,
li > ol {
	margin-left: 0;
	margin-right: 1.5em;
}

.search-form .search-submit {
	margin-left: 0;
	margin-right: -1px;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	left: auto;
	right: 5px;
}

.alignleft {
	margin-right: 0;
	float: right;
	margin-left: 1.5em;
}

.alignright {
	margin-left: 0;
	float: left;
	margin-right: 1.5em;
}

.aligncenter {
	margin-left: 0;
	margin-right: 0;
	margin-left: auto;
	margin-right: auto;
}

.content-area {
	padding-right: 0;
	float: right;
	padding-left: 2rem;
}

.sidebar {
	float: left;
}

.site-branding {
	margin: 1em 0.5em 1em 1em;
}

.site-branding .custom-logo-link {
	margin-right: 0;
	margin-left: 1em;
}

.site-description {
	border-left: none;
	margin: 0.25rem 1.2rem 0 0;
	padding: 0 1.2rem 0 0;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-menu-toggle {
	margin-left: 0;
	margin-right: auto;
	text-align: right;
}

.main-navigation ul ul a {
	padding-left: 0;
	padding-right: 3em;
}

.main-navigation ul ul ul a {
	padding-left: 0;
	padding-right: 4.5em;
}

.main-navigation ul ul ul ul a {
	padding-left: 0;
	padding-right: 6em;
}

.main-navigation .dropdown-toggle {
	right: auto;
	left: 0;
}

.main-navigation .dropdown-toggle.toggled-on .icon {
	transform: rotate(180deg);
}

.top-navigation ul ul a {
	padding-left: 0;
	padding-right: 2.5em;
}

.top-navigation ul ul ul a {
	padding-left: 0;
	padding-right: 4em;
}

.top-navigation ul ul ul ul a {
	padding-left: 0;
	padding-right: 5.5em;
}

.top-navigation .dropdown-toggle {
	right: auto;
	left: 0;
}

.top-navigation .dropdown-toggle.toggled-on .icon {
	transform: rotate(180deg);
}

.entry-meta .meta-date,
.entry-meta .meta-author {
	margin-right: 0;
	margin-left: 1.5em;
}

.entry-meta span .icon {
	margin: 0.3em 0 0 0.4em;
}

.entry-categories .meta-categories a {
	float: right;
	margin: 0 0 2px 2px;
}

.widget_tag_cloud .tagcloud a,
.entry-tags .meta-tags a {
	float: right;
	margin: 0 0 2px 2px;
}

.post-navigation .nav-links .nav-previous {
	padding-right: 0;
	float: right;
	padding-left: 0.5em;
}

.post-navigation .nav-links .nav-next {
	padding-left: 0;
	float: left;
	padding-right: 0.5em;
}

.post-navigation .nav-links .nav-previous .nav-link-text::before {
	margin-right: 0;
	margin-left: 3px;
}

.post-navigation .nav-links .nav-next .nav-link-text::after {
	margin-left: 0;
	margin-right: 4px;
}

.pagination a,
.pagination .current {
	margin: 3px 0 3px 3px;
}

.infinite-scroll #infinite-handle,
.infinite-scroll .infinite-loader {
	margin-right: 0;
	margin-left: 2em;
}

.infinite-scroll .infinite-loader .spinner {
	padding-right: 0;
	left: auto;
	right: auto;
	padding-left: 2em;
}

.wp-block-quote.is-style-large cite {
	text-align: inherit;
}

.wp-block-image .alignleft {
	margin-right: 0;
	margin-left: 1.5em;
}

.wp-block-image .alignright {
	margin-left: 0;
	margin-right: 1.5em;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 1em 0.5em 0;
}

.widget_calendar table tfoot tr #prev {
	text-align: right;
}

.widget_calendar table tfoot tr #next {
	text-align: left;
}

.widget-magazine-posts .small-post {
	float: right;
}

.widget-magazine-posts .small-post .wp-post-image {
	float: right;
}

.widget-magazine-posts .small-post .post-content {
	float: left;
}

.widget-magazine-columns .magazine-column-left {
	padding-right: 0;
	float: right;
	padding-left: 1em;
}

.widget-magazine-columns .magazine-column-right {
	padding-left: 0;
	float: left;
	padding-right: 1em;
}

.widget-magazine-posts .magazine-grid {
	margin-right: 0;
	margin-left: -1.5em;
}

.widget-magazine-posts .magazine-grid .post-column {
	padding-right: 0;
	padding-left: 1.5em;
}

.comment-meta {
	float: right;
}

.comment-meta .comment-author img {
	margin-right: 0;
	float: right;
	margin-left: 1em;
}

.comment-meta .comment-metadata a {
	margin-right: 0;
	margin-left: 1em;
}

.comment-content {
	clear: right;
}

.comment-navigation .nav-previous {
	float: right;
}

.comment-navigation .nav-next {
	float: left;
}

.comment-navigation .nav-previous a::before {
	margin-right: 0;
	margin-left: 3px;
}

.comment-navigation .nav-next a::after {
	margin-left: 0;
	margin-right: 4px;
}

.comment-reply-title small a {
	float: left;
	margin: -0.5rem 0 0 -0.5rem;
}

.gallery-item {
	padding: 0 0 0.75em 1em;
}

.site-footer .site-info {
	float: right;
}

.breadcrumbs .trail-browse {
	margin-right: 0;
	margin-left: 0.5em;
}

.tz-magazine-block .tz-entry-meta .tz-meta-field {
	margin-right: 0;
	margin-left: 1em;
}

.related-posts-list li .wp-post-image {
	float: right;
	margin: 0 0 0 1em;
}

.related-posts-columns {
	margin-right: 0;
	margin-left: -1.5em;
}

.related-posts-columns .related-post-column {
	padding-right: 0;
	float: right;
	padding-left: 1.5em;
}

.related-posts-two-columns .related-post-column:nth-child(2n + 1) {
	clear: right;
}

.related-posts-three-columns .related-post-column:nth-child(3n + 1) {
	clear: right;
}

.related-posts-four-columns .related-post-column:nth-child(4n + 1) {
	clear: right;
}

@media only screen and (max-width: 50em) {

	.related-posts-four-columns .related-post-column:nth-child(2n + 1) {
		clear: right;
	}
}

@media only screen and (max-width: 35em) {

	.related-posts-three-columns .related-post-column {
		padding-right: 0;
		padding-left: 0;
	}
}

@media only screen and (max-width: 25em) {

	.related-posts-two-columns .related-post-column,
	.related-posts-four-columns .related-post-column {
		padding-right: 0;
		padding-left: 0;
	}
}

.tzwb-posts-list li {
	clear: right;
}

.tzwb-posts-list .wp-post-image {
	float: right;
	margin: 0.3em 0 1em 0.8em;
}

.tzwb-comments-list li {
	clear: right;
}

.tzwb-comments-list .avatar {
	float: right;
	margin: 0.3em 0 0.8em 0.8em;
}

.tzwb-tabbed-content .tzwb-tabnavi {
	float: right;
}

.tzwb-tabbed-content .tzwb-tabnavi li {
	float: right;
	margin: 0 0 2px 2px;
}

.tzwb-social-icons .social-icons-menu li {
	margin: 0 0 2px 2px;
}

.post-slider-controls {
	clear: right;
}

.post-slider-controls .zeeflex-direction-nav {
	right: auto;
	left: 1.5em;
}

.post-slider-controls .zeeflex-direction-nav a {
	margin: -40px -80px 0 0;
	text-align: right;
}

.post-slider-controls .zeeflex-direction-nav .zeeflex-next {
	left: auto;
	right: 41px;
}

@media only screen and (max-width: 42em) {

	.post-slider .zeeslide .slide-content {
		left: auto;
		right: 1em;
	}

	.post-slider-controls .zeeflex-direction-nav {
		right: auto;
		left: 1em;
	}
}

@media only screen and (max-width: 32em) {

	.post-slider .zeeslide .slide-content {
		left: auto;
		right: 0.5em;
	}

	.post-slider-controls .zeeflex-direction-nav {
		right: auto;
		left: 0.5em;
	}
}

@media only screen and (max-width: 75em) {

	.content-area {
		padding-right: 0;
		padding-left: 1.5rem;
	}

	.infinite-scroll #infinite-handle,
	.infinite-scroll .infinite-loader {
		margin-right: 0;
		margin-left: 1.5em;
	}
}

@media only screen and (max-width: 60em) {

	.sidebar {
		margin-right: 0;
		margin-left: -1.5em;
	}

	.sidebar .widget-wrap {
		padding-right: 0;
		float: left;
		padding-left: 1.5em;
	}

	.sidebar .widget-wrap:nth-child(2n + 1) {
		clear: right;
	}
}

@media only screen and (max-width: 50em) {

	.site-description {
		border-left: none;
		padding-left: 0;
		padding-right: 0;
		border-right: none;
	}
}

@media only screen and (max-width: 40em) {

	.infinite-scroll #infinite-handle,
	.infinite-scroll .infinite-loader {
		margin-right: 0;
		margin-left: 0;
	}
}

@media only screen and (max-width: 35em) {

	.sidebar {
		margin-right: 0;
		margin-left: 0;
	}

	.sidebar .widget-wrap {
		padding-right: 0;
		padding-left: 0;
	}
}

@media only screen and (max-width: 30em) {

	.post-navigation .nav-links .nav-next {
		text-align: left;
	}
}

@media only screen and (min-width: 60em) {

	.main-navigation ul ul {
		left: auto;
		right: -999em;
	}

	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		right: auto;
		left: auto;
		right: 0;
	}

	.main-navigation ul ul ul {
		left: auto;
		right: -999em;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		right: auto;
		left: auto;
		right: 100%;
	}

	.main-navigation .menu-item-has-children > a > .icon {
		left: auto;
		right: 0.5rem;
	}

	.main-navigation ul ul .menu-item-has-children > a > .icon {
		left: auto;
		right: auto;
		left: 1em;
		transform: rotate(90deg);
	}

	.secondary-navigation {
		margin-left: 0;
		margin-right: auto;
	}

	.top-navigation ul ul {
		left: auto;
		right: -999em;
	}

	.top-navigation ul li:hover > ul,
	.top-navigation ul li.focus > ul {
		left: auto;
		left: 0;
		right: auto;
	}

	.top-navigation ul ul ul {
		left: auto;
		right: -999em;
	}

	.top-navigation ul ul li:hover > ul,
	.top-navigation ul ul li.focus > ul {
		left: auto;
		left: 100%;
		right: auto;
	}

	.top-navigation .menu-item-has-children > a > .icon {
		left: auto;
		right: 0.5rem;
	}

	.top-navigation ul ul .menu-item-has-children > a > .icon {
		left: auto;
		right: auto;
		left: 1em;
		transform: rotate(90deg);
	}
}

@media only screen and (max-width: 75em) {

	.widget-magazine-columns .magazine-column-left {
		padding-right: 0;
		padding-left: 0.75rem;
	}

	.widget-magazine-columns .magazine-column-right {
		padding-left: 0;
		padding-right: 0.75rem;
	}
}

@media only screen and (max-width: 30em) {

	.widget-magazine-posts .magazine-grid-two-columns,
	.widget-magazine-posts .magazine-grid-three-columns {
		margin-right: 0;
		margin-left: 0;
	}

	.widget-magazine-posts .magazine-grid-two-columns .post-column,
	.widget-magazine-posts .magazine-grid-three-columns .post-column {
		padding-right: 0;
		padding-left: 0;
	}
}

@media only screen and (max-width: 25em) {

	.widget-magazine-posts .small-post .post-content {
		padding: 0 0.75em 0 0;
	}
}

@media only screen and (max-width: 50em) {

	.gallery-item {
		padding: 0 0 0.5em 0.75em;
	}
}

.sidebar-left .content-area {
	padding-right: 0;
	float: left;
	padding-left: 0;
	padding-right: 2rem;
}

.sidebar-left .sidebar {
	float: right;
}

@media only screen and (max-width: 80em) {

	.sidebar-left .content-area {
		padding-right: 0;
		padding-left: 0;
		padding-right: 1.5em;
	}
}

.magazine-widgets-placeholder .magazine-widgets-placeholder-title {
	padding: 1em 55px 1em 1em;
}

.magazine-widgets-placeholder .customize-partial-edit-shortcut button {
	left: auto;
	right: 15px;
}
