@media only screen and (min-width: 60em) {
	.mobile-menu-toggle,
	.top-navigation .dropdown-toggle,
	.main-navigation .dropdown-toggle {
		display: none;
	}

	.main-navigation ul,
	.main-navigation ul ul {
		display: block;
	}

	.header-main {
		flex-wrap: nowrap;
	}

	/* Main Navigation */
	.primary-navigation-wrap {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.primary-navigation {
		display: flex;
		width: auto;
		align-items: center;
	}

	#masthead .main-navigation > ul.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin: 0 -0.5em;
		border-bottom: none;
	}

	.main-navigation > ul,
	.main-navigation > ul > li > a {
		border: none;
	}

	/* Dropdown Menus */
	.main-navigation ul ul {
		position: absolute;
		left: -999em;
		top: 100%;
		z-index: 99999;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-top: 4px solid rgba(0, 0, 0, 0.2);
		background: #fff;
	}

	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		right: auto;
		left: 0;
	}

	.main-navigation ul ul li a {
		width: 16rem;
	}

	.main-navigation ul ul ul {
		left: -999em;
		margin-top: -4px;
		top: 0;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		right: auto;
		left: 100%;
	}

	.main-navigation ul ul li a,
	.main-navigation ul ul ul li a,
	.main-navigation ul ul ul ul li a {
		padding: 1em;
	}

	/* Dropdown Icons */
	.main-navigation .menu-item-has-children > a > .icon {
		position: relative;
		display: inline-block;
		left: 0.5rem;
		top: 0.1rem;
		width: 13px;
		height: 13px;
		fill: #454545;
		transition: fill 0.2s ease;
	}

	.main-navigation ul ul .menu-item-has-children > a > .icon {
		position: absolute;
		left: auto;
		right: 1em;
		top: 50%;
		margin-top: -0.4rem;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.main-navigation ul .menu-item-has-children > a:hover > .icon {
		fill: rgba(0, 0, 0, 0.5);
	}

	/* Top Navigation */
	.top-navigation ul,
	.top-navigation ul ul {
		display: block;
	}

	.secondary-navigation {
		display: flex;
		margin-left: auto;
		width: auto;
		align-items: center;
	}

	#masthead .top-navigation > ul.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin: 0;
		border-bottom: none;
	}

	.secondary-navigation.toggled-on,
	.top-navigation > ul > li > a {
		border: none;
	}

	/* Dropdown Menus */
	.top-navigation ul ul {
		position: absolute;
		left: -999em;
		top: 100%;
		z-index: 99999;
		border-top: 4px solid rgba(255, 255, 255, 0.1);
		background: #454545;
	}

	.top-navigation ul li:hover > ul,
	.top-navigation ul li.focus > ul {
		right: 0;
		left: auto;
	}

	.top-navigation ul ul li a {
		width: 16rem;
	}

	.top-navigation ul ul ul {
		left: -999em;
		margin-top: -4px;
		top: 0;
	}

	.top-navigation ul ul li:hover > ul,
	.top-navigation ul ul li.focus > ul {
		right: 100%;
		left: auto;
	}

	.top-navigation ul ul li a,
	.top-navigation ul ul ul li a,
	.top-navigation ul ul ul ul li a {
		padding: 1em;
	}

	/* Dropdown Icons */
	.top-navigation .menu-item-has-children > a > .icon {
		position: relative;
		display: inline-block;
		left: 0.5rem;
		top: 0.05rem;
		width: 12px;
		height: 12px;
		fill: #fff;
		transition: fill 0.2s ease;
	}

	.top-navigation ul ul .menu-item-has-children > a > .icon {
		position: absolute;
		left: auto;
		right: 1em;
		top: 50%;
		margin-top: -0.4rem;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.top-navigation ul .menu-item-has-children > a:hover > .icon {
		fill: rgba(255, 255, 255, 0.5);
	}
}
